<% include('./layouts/main') %>

<main>
  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/about-img.png" alt="About Us">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>Farine Mission</h2>
            </div>
            <p>
                To serve dishes that celebrate the joy of good food, foster connections, and create unforgettable moments for our guests. 
                Quality, creativity, and sustainability are at the heart of everything we do.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->
</main>
